@model IEnumerable<LocalMarketplace.Models.DTOs.ProductResponse>
@{
    ViewData["Title"] = "Szukaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szukaj ofert</h2>
<hr />
<form asp-action="Search" >
    <div class="form-group">

        <p>Szukaj produktu:</p>
        @Html.Editor("productToSearch", new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" value="Szukaj" class="btn btn-default" />

    </div>

</form>

<hr />

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}