@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<LocalMarketplace.Models.DTOs.ProductResponse>
@{
    ViewData["Title"] = "Moje ogłosznia";
}

<h2>Ogłoszenia użytkownika</h2>
<hr />
<h4>Lista ogłoszeń użytkownika:</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayName("Nawigacja")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczególy</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
            }

        </tr>
        }
    </tbody>
</table>